@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    background-color: #DEEFE7;
}

h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.carousel-container {
    padding: 5%;
    background-color: #DEEFE7;
}

.table-container {
    padding-left: 5%;
    padding-right: 5%;
}

.accordion-button:not(.collapsed) {
    background-color: #159A9C;
    color: #FFFFFF
}

#header-block {
    padding-top: 2%;
    padding-bottom: 2%;    
}

#willow-cards {
    background-color: #DEEFE7;
}

#accordion-row {
    padding-top: 2%;
}

footer {
    text-align: center;
    padding: 2%;
}